<div id="<%= dom_id breaker %>">
  <p>
    <strong>Amperage:</strong>
    <%= breaker.amperage %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= breaker.status %>
  </p>

  <p>
    <strong>Slot:</strong>
    <%= breaker.slot %>
  </p>

  <p>
    <strong>Label:</strong>
    <%= breaker.label %>
  </p>

</div>
