<%= form_with(model: outlet) do |form| %>
  <% if outlet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(outlet.errors.count, "error") %> prohibited this outlet from being saved:</h2>

      <ul>
        <% outlet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :type, style: "display: block" %>
    <%= form.text_field :type, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :is_gfci, style: "display: block", class: "form-check-label" %>
    <%= form.check_box :is_gfci, class: "form-check-input" %>
  </div>

  <div class="form-group">
    <%= form.label :room_id, style: "display: block" %>
    <%= collection_select(:rooms, :id, Room.all, :id, :label || :id,{},{:class => "form-control"}) %>
  </div>

  <div class="form-group">
    <%= form.label :breaker_id, style: "display: block" %>
    <%= collection_select(:breakers, :id, Breaker.all, :id, :label || :id,{},{:class => "form-control"}) %>
  </div>

  <div class="form-group">
    <%= form.label :location_x, style: "display: block" %>
    <%= form.number_field :location_x, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :location_y, style: "display: block" %>
    <%= form.number_field :location_y, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :location_z, style: "display: block" %>
    <%= form.number_field :location_z, class: "form-control" %>
  </div>

  <div class="mt-1">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
