<div id="<%= dom_id outlet %>">
  <p>
    <strong>Description:</strong>
    <%= outlet.description %>
  </p>

  <p>
    <strong>Is gfci:</strong>
    <%= outlet.is_gfci %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= outlet.room_id %>
  </p>

  <p>
    <strong>Breaker:</strong>
    <%= outlet.breaker_id %>
  </p>

  <p>
    <strong>Location x:</strong>
    <%= outlet.location_x %>
  </p>

  <p>
    <strong>Location y:</strong>
    <%= outlet.location_y %>
  </p>

  <p>
    <strong>Location z:</strong>
    <%= outlet.location_z %>
  </p>

</div>
