<div id="<%= dom_id room %>">
  <p>
    <strong>Label:</strong>
    <%= room.label %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= room.floor %>
  </p>

  <p>
    <strong>Z Size:</strong>
    <%= room.z_size %>
  </p>

  <p>
    <strong>X Size:</strong>
    <%= room.x_size %>
  </p>

  <p>
    <strong>Y Size:</strong>
    <%= room.y_size %>
  </p>
</div>
