<div id="<%= dom_id room %>">
  <p>
    <strong>Label:</strong>
    <%= room.label %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= room.floor %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= room.height %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= room.width %>
  </p>

  <p>
    <strong>length:</strong>
    <%= room.length %>
  </p>
</div>
