<p style="color: green"><%= notice %></p>

<%= render @room %>

<div>
  <%= link_to "Edit this room", edit_room_path(@room), class: "btn btn-primary" %>
  <%= link_to "Back to rooms", rooms_path,class: "btn btn-primary" %>

  <%= button_to "Destroy this room", @room, method: :delete, class: "btn btn-primary" %>
</div>
