<div id="<%= dom_id room_connection %>">
  <p>
    <strong>Room a:</strong>
    <%= room_connection.room_a_id_id %>
  </p>

  <p>
    <strong>Room b:</strong>
    <%= room_connection.room_b_id_id %>
  </p>

  <p>
    <strong>Room a x position:</strong>
    <%= room_connection.room_a_x_position %>
  </p>

  <p>
    <strong>Room b x postion:</strong>
    <%= room_connection.room_b_x_postion %>
  </p>

  <p>
    <strong>Room a y position:</strong>
    <%= room_connection.room_a_y_position %>
  </p>

  <p>
    <strong>Room b y position:</strong>
    <%= room_connection.room_b_y_position %>
  </p>

</div>
